* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: linear-gradient(rgba(25, 25, 25, 0.95),
            rgba(25, 25, 25, 0.95)), url("assets/main_wallpaper.jpg");
    background-position: center;
    background-attachment: fixed;
    color: rgb(180, 180, 200);
}

a {
    color: rgb(30, 215, 96);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0.2vh;
    padding: 0.6vh;
}

h3 {
    margin: 1vh;
}

.header {
    height: 100vh;
    align-items: center;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40%;
    width: 100%;
    text-align: center;
    color: rgb(190, 190, 210);
    font-size: 10vh;
    margin: 10px;
}

.description {
    width: 100%;
    text-align: center;
    margin: 0;
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playlist-group {
    font-size: large;
    text-align: center;
    align-items: center;
    margin: 3vh;
}